body{
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular';
}
h2.title{
	font-family: 'RobotoBold';
	font-size: 32px;
}
.fondo-imagen{
	background: url(../img/fondo-home.jpg) no-repeat center center;
	background-size: cover !important;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
}
.fondo-imagen:BEFORE{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: .65;
	z-index: 1;
}
.logo-home img{
	max-width: 250px;
}
.container.relative{
	position: relative;
	-webkit-transition: max-width .4s ease-in-out;
	-moz-transition: max-width .4s ease-in-out;
	-ms-transition: max-width .4s ease-in-out;
	-o-transition: max-width .4s ease-in-out;
	transition: max-width .4s ease-in-out;
    padding: 40px;
	height: 100vh;
}
.contenido-evento{
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    width: 100%;    
    padding: 10px;
	color: #FFFFFF;
}
.contenido-evento h2{
	font-family: 'RobotoBold';
}
.contenido-evento p{
	font-size: 18px;
}
.contenido-buttons{
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    text-align: center;
}
.contenido-buttons button{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
    width: 100%;
    max-width: 120px;
    margin: 5px;
}
.button-down{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: transparent !important;
}
.button-down i{
	color: #FFFFFF;
	font-size: 40px;
}
.img-sponsor{
    display: inline-block;
    max-width: 150px;
    width: 100%;
    padding: 15px 0;
    margin: 5px;
}
.img-sponsor img{
	max-width: 120px;
}
/*BARRA SCROLL*/
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
}
#sponsor{
	position: relative;
	background-color: #EFEFEF;
    padding: 50px 0;
}
#agenda{
	position: relative;
	padding: 50px 0;
}
#agenda h2{
	color: #FFFFFF;
}
footer{
    position: relative;
    padding: 20px 10px;
    background-color: #000000;
    color: #FFFFFF;
}
footer p{
    margin: 0;
    padding: 10px 0;
    line-height: 16px;
}
@media ( max-width: 420px ){
	.contenido-evento{
		max-width: 320px;
	}
	.contenido-evento h2{
		font-size: 40px;
	}
}
@media ( max-width: 320px ){
	.contenido-buttons{
	    bottom: 80px;
	}
}